In [15]:
def create_table(n_rows):
    import pandas as pd
    import numpy as np 
    id = np.arange(n_rows)
    salaries=np.random.randint(10000, 100000, size=n_rows)
    return pd.DataFrame({'id': id, 'salaries': salaries})

In [ ]:
# Call the create_table function with 5 rows
df = create_table(5)

# Print the resulting dataframe
print(df)

In [27]:
import pandas as pd
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    temp = employee.drop_duplicates()
    temp = temp.sort_values(by=['salary'], ascending=False)
    temp = temp.reset_index(drop=True)
    
    if not len(temp):
        #return a dataframe with no rows
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})
    #rename the column to getNthHighestSalaryN and drop the id column
    temp = temp.rename(columns={'salary': f'getNthHighestSalary({N})'})
    temp = temp.drop(columns=['id'])
    #return the Nth highest salary
    
    return temp.iloc[[N-1]]

In [28]:
# Create a sample dataframe
sample_df = pd.DataFrame({'id': [1, 2, 3, 4, 5], 'salary': [50000, 60000, 70000, 80000, 90000]})

# Call the nth_highest_salary function with N=2
result = nth_highest_salary(sample_df, 2)

# Print the result
print((result))

   getNthHighestSalary(2)
1                   80000