In [ ]:
import pandas as pd
from faker import Faker
import random

def generate_tables(num_rows):
    faker = Faker()
    
    # Generate data for Product table
    product_data = {
        'product_id': list(range(1, num_rows + 1)),
        'product_name': [faker.word() for _ in range(num_rows)],
        'unit_price': [random.randint(10, 100) for _ in range(num_rows)]
    }
    product_df = pd.DataFrame(product_data)
    
    # Save Product table to CSV
    product_df.to_csv('product_table.csv', index=False)
    
    # Generate data for Sales table
    sales_data = {
        'seller_id': [random.randint(100, 200) for _ in range(num_rows)],
        'product_id': [random.randint(1, num_rows) for _ in range(num_rows)],
        'buyer_id': [random.randint(300, 400) for _ in range(num_rows)],
        'sale_date': [faker.date_between(start_date='-1y', end_date='today') for _ in range(num_rows)],
        'quantity': [random.randint(1, 5) for _ in range(num_rows)],
        'price': [random.randint(10, 100) for _ in range(num_rows)]
    }
    sales_df = pd.DataFrame(sales_data)
    
    # Save Sales table to CSV
    sales_df.to_csv('sales_table.csv', index=False)

# Example usage: Generate tables with 10 rows each
generate_tables(100)

In [ ]:
df1=pd.read_csv('product_table.csv')
#iterate over the rows of the dataframe
for index, row in df1.iterrows():
    print(row['product_id'], row['product_name'], row['unit_price'])

In [8]:
import pandas as pd


def sales_analysis(product: pd.DataFrame, sales: pd.DataFrame) -> pd.DataFrame:
    temp_res={
    }
    for i,row in sales.iterrows():
        # print(row)
        try:
            temp_res[row.buyer_id].add(row.product_id)
        except:
            
            if row.buyer_id not in temp_res:
                temp_res[row.buyer_id]=set(row.product_id)
    print(temp_res)
    
    
    
    return sales

In [14]:
import pandas as pd


def sales_analysis(product: pd.DataFrame, sales: pd.DataFrame) -> pd.DataFrame:
    temp_res = {}
    for i, row in sales.iterrows():
        if row.buyer_id not in temp_res:
            temp_res[row.buyer_id] = {row.product_id}
        else:
            temp_res[row.buyer_id].add(row.product_id)
    # print(temp_res)
    res=[]
    for i in temp_res:
        if 1 in temp_res[i] and 3 not in temp_res[i]:
            res.append(i)
    
    res=pd.DataFrame({'buyer_id':res})
    return res
sales_analysis(pd.read_csv('product_table.csv'),pd.read_csv('sales_table.csv'))

[372, 321]

    seller_id  product_id  buyer_id   sale_date  quantity  price
0         136          67       399  2022-12-03         2     80
1         177          46       336  2022-12-01         3     90
2         170          41       349  2022-12-17         5     45
3         111          35       350  2023-07-09         1     58
4         185          10       385  2023-10-17         3     62
..        ...         ...       ...         ...       ...    ...
95        158          29       301  2023-05-26         5     54
96        127          25       397  2022-12-08         4     57
97        120          57       383  2023-10-24         3     89
98        157           5       309  2023-01-31         2     17
99        159          61       393  2023-05-25         2     43

[100 rows x 6 columns]