In [12]:

import pandas as pd
import random
from datetime import datetime, timedelta

# Function to create a random dataframe
def create_random_dataframe(num_rows=100):
    # Constants
    actions = ['view', 'like', 'reaction', 'comment', 'report', 'share']
    extra_info = ['null', 'spam', 'racism', 'inappropriate', 'misleading']

    # Random data generation
    data = {
        'user_id': [random.randint(1, 50) for _ in range(num_rows)],
        'post_id': [random.randint(1, 50) for _ in range(num_rows)],
        'action_date': [datetime(2019, 7, random.randint(1, 5)) for _ in range(num_rows)],
        'action': [random.choice(actions) for _ in range(num_rows)],
        'extra': [random.choice(extra_info) for _ in range(num_rows)]
    }

    return pd.DataFrame(data)

#test the function
df = create_random_dataframe()
df.head()

   user_id  post_id action_date   action          extra
0       46        6  2019-07-02  comment  inappropriate
1       30        9  2019-07-05  comment           null
2       30       26  2019-07-02    share         racism
3       15       24  2019-07-02   report     misleading
4       41       21  2019-07-02    share     misleading

In [24]:
#create a date for this 2019-07-05
date = datetime(2019, 7, 5)
df1=df.groupby(['action_date','action']).count().reset_index()
df1.head()

  action_date    action  user_id  post_id  extra
0  2019-07-01   comment        4        4      4
1  2019-07-01      like        5        5      5
2  2019-07-01  reaction        4        4      4
3  2019-07-01    report        4        4      4
4  2019-07-01     share        3        3      3