In [35]:

import pandas as pd
import random
from datetime import datetime, timedelta

# Function to create a random dataframe
def create_random_dataframe(num_rows=100):
    # Constants
    actions = ['view', 'like', 'reaction', 'comment', 'report', 'share']
    extra_info = ['null', 'spam', 'racism', 'inappropriate', 'misleading']

    # Random data generation
    data = {
        'user_id': [random.randint(1, 50) for _ in range(num_rows)],
        'post_id': [random.randint(1, 50) for _ in range(num_rows)],
        'action_date': [datetime(2019, 7, random.randint(1, 5)) for _ in range(num_rows)],
        'action': [random.choice(actions) for _ in range(num_rows)],
        'extra': [random.choice(extra_info) for _ in range(num_rows)]
    }

    return pd.DataFrame(data)

#test the function
df = create_random_dataframe()
df.head()

   user_id  post_id action_date    action          extra
0       38       13  2019-07-04    report           spam
1       43        5  2019-07-02   comment         racism
2       43       43  2019-07-03  reaction  inappropriate
3       17       13  2019-07-01     share  inappropriate
4       33       17  2019-07-03     share     misleading

In [32]:
#create a date for this 2019-07-05
date = datetime(2019, 7, 5)
df1=df[df['action_date']=='2019-07-04']
df1=df1[df1['action']=='report']
df1=df1.value_counts('extra')
df1

Series([], Name: count, dtype: int64)

In [33]:

import pandas as pd

def reported_posts(actions: pd.DataFrame) -> pd.DataFrame:
    # Filter the 'actions' table to include only actions on the specified date (July 4, 2019).
    actions = actions[actions['action_date'] == '2019-07-04']
    
    # Filter further to include only 'report' actions.
    actions = actions[actions['action'] == 'report']

    # Group the filtered data by the 'extra' column (report reasons) and count the unique 'post_id's.
    report_counts = actions.groupby('extra')['post_id'].nunique().reset_index()
    
    # Rename the columns for clarity.
    report_counts = report_counts.rename(columns={
        'extra': 'report_reason',
        'post_id': 'report_count'
    })

    return report_counts

In [36]:
reported_posts(df)

  report_reason  report_count
0    misleading             1
1          null             2
2          spam             2

In [2]:
data = [[1, 1, '2019-07-01', 'view', None], [1, 1, '2019-07-01', 'like', None], [1, 1, '2019-07-01', 'share', None], [2, 4, '2019-07-04', 'view', None], [2, 4, '2019-07-04', 'report', 'spam'], [3, 4, '2019-07-04', 'view', None], [3, 4, '2019-07-04', 'report', 'spam'], [4, 3, '2019-07-02', 'view', None], [4, 3, '2019-07-02', 'report', 'spam'], [5, 2, '2019-07-04', 'view', None], [5, 2, '2019-07-04', 'report', 'racism'], [5, 5, '2019-07-04', 'view', None], [5, 5, '2019-07-04', 'report', 'racism']]
actions = pd.DataFrame(data, columns=['user_id', 'post_id', 'action_date', 'action', 'extra']).astype({'user_id':'Int64', 'post_id':'Int64', 'action_date':'datetime64[ns]', 'action':'object', 'extra':'object'})
actions

    user_id  post_id action_date  action   extra
0         1        1  2019-07-01    view    None
1         1        1  2019-07-01    like    None
2         1        1  2019-07-01   share    None
3         2        4  2019-07-04    view    None
4         2        4  2019-07-04  report    spam
5         3        4  2019-07-04    view    None
6         3        4  2019-07-04  report    spam
7         4        3  2019-07-02    view    None
8         4        3  2019-07-02  report    spam
9         5        2  2019-07-04    view    None
10        5        2  2019-07-04  report  racism
11        5        5  2019-07-04    view    None
12        5        5  2019-07-04  report  racism

In [31]:
import pandas as pd

def reported_posts(actions: pd.DataFrame) -> pd.DataFrame:
    today='2019-07-05'
    df=actions
    res=df[df['action_date']==pd.to_datetime(today)- pd.DateOffset(days=1)]
    res=res[res['action']=='report']
    res=res.value_counts('extra')
    #return as a dataframe
    res=res.reset_index()
    res.columns=['report_reason','report_count']
    return res
reported_posts(actions)

  report_reason  report_count
0        racism             2
1          spam             2

In [ ]:
import pandas as pd

def reported_posts(actions: pd.DataFrame) -> pd.DataFrame:
    # Filter the 'actions' table to include only actions on the specified date (July 4, 2019).
    actions = actions[actions['action_date'] == '2019-07-04']
    
    # Filter further to include only 'report' actions.
    actions = actions[actions['action'] == 'report']

    # Group the filtered data by the 'extra' column (report reasons) and count the unique 'post_id's.
    report_counts = actions.groupby('extra')['post_id'].nunique().reset_index()
    
    # Rename the columns for clarity.
    report_counts = report_counts.rename(columns={
        'extra': 'report_reason',
        'post_id': 'report_count'
    })

    return report_counts