In [2]:
import pandas as pd
import numpy as np

# Set a seed for reproducibility
np.random.seed(0)

# Create a DataFrame with 100 fake orders
df_orders = pd.DataFrame({
    'order_number': np.arange(1001, 1101),  # Order numbers from 1001 to 1100
    'customer_number': np.random.randint(500, 600, size=100)  # Random customer numbers between 500 and 599
})

print(df_orders)

    order_number  customer_number
0           1001              544
1           1002              547
2           1003              564
3           1004              567
4           1005              567
..           ...              ...
95          1096              523
96          1097              579
97          1098              513
98          1099              585
99          1100              548

[100 rows x 2 columns]

In [11]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    if len(orders)==0:
        return pd.DataFrame({'customer_number':[]})
    res={}
    for i,row in orders.iterrows():
        if row['customer_number'] not in res:
            res[row['customer_number']]=1
        else:
            res[row['customer_number']]+=1
    max={'customer_number':0,'order_number':0}
    for k,v in res.items():
        if v>max['order_number']:
            max['customer_number']=k
            max['order_number']=v
    res={'customer_number':max['customer_number']}
    return pd.DataFrame(res,index=[0])
    
    
largest_orders(df_orders)

   customer_number
0              588