In [2]:
import pandas as pd
import numpy as np

# Set a seed for reproducibility
np.random.seed(0)

# Create a DataFrame with 100 fake orders
df_orders = pd.DataFrame({
    'order_number': np.arange(1001, 1101),  # Order numbers from 1001 to 1100
    'customer_number': np.random.randint(500, 600, size=100)  # Random customer numbers between 500 and 599
})

print(df_orders)

    order_number  customer_number
0           1001              544
1           1002              547
2           1003              564
3           1004              567
4           1005              567
..           ...              ...
95          1096              523
96          1097              579
97          1098              513
98          1099              585
99          1100              548

[100 rows x 2 columns]

In [11]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    if len(orders)==0:
        return pd.DataFrame({'customer_number':[]})
    res={}
    for i,row in orders.iterrows():
        if row['customer_number'] not in res:
            res[row['customer_number']]=1
        else:
            res[row['customer_number']]+=1
    max={'customer_number':0,'order_number':0}
    for k,v in res.items():
        if v>max['order_number']:
            max['customer_number']=k
            max['order_number']=v
    res={'customer_number':max['customer_number']}
    return pd.DataFrame(res,index=[0])
    
    
largest_orders(df_orders)

   customer_number
0              588

In [ ]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    # If orders is empty, return an empty DataFrame.
    if orders.empty:
        return pd.DataFrame({'customer_number': []})

    df = orders.groupby('customer_number').size().reset_index(name='count')
    df.sort_values(by='count', ascending = False, inplace=True)
    return df[['customer_number']][0:1]

In [1]:
import pandas as pd

# Data for the table
data = {
    'player_id': [1, 1, 1, 3, 3],
    'device_id': [2, 2, 3, 1, 4],
    'event_date': ['2016-03-01', '2016-05-02', '2017-06-25', '2016-03-02', '2018-07-03'],
    'games_played': [5, 6, 1, 0, 5]
}

# Create the DataFrame
activity_table = pd.DataFrame(data)

# Display the DataFrame
print(activity_table)

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          1          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5